@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {overflow-x: hidden;}
.container-fluid {padding:0px !important; margin:0px !important; width: 100%;}
.background-bg {background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0,.7)),  url(../images/about.jpg)no-repeat;  background-attachment: fixed;background-size: 100% 100%;min-height: 100%; min-width: 1024px; width: 100%; height: auto; top: 0; left: 0;   position: fixed;}
.top-header {position: absolute;z-index: 99;padding: 0;margin: 0; width: 100%;background: rgba(0,0,0,0.8);}
.header {padding: 5px 0px;}
.logo img {width: 90%;}
.login-form {float: right; padding: 15px 0px;}
.form-control::-webkit-input-placeholder {color:#000;}
.form-control:-moz-placeholder {color:#000;}
.form-control::-moz-placeholder {color:#000;}
.form-control:-ms-input-placeholder {color:#000;}
.form-control::-ms-input-placeholder {color:#000;}
.login-form .btn-primary {background: #C71D2D; border-color: #C71D2D;font-family: 'latoregular'; text-transform: uppercase; font-size: 12px;}
.signup {width: 250px; padding: 20px;background: #fff;top: 83px;border-radius: 5px;overflow: visible;position: absolute;right: 106px;}
.signup .btn-primary {background: #C71D2D; border-color: #C71D2D; box-shadow: 0 1px 3px 1px rgba(0,0,0,.4);}
.input-group-prepend { margin-right: -1px; display:-webkit-box; display: -ms-flexbox; display: flex;}
.input-group-text {    display: -webkit-box;display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: .375rem .75rem; margin-bottom: 0; font-size: 1rem; font-weight: 400;  line-height: 1.5; color: #495057; text-align: center; white-space: nowrap; background-color: #e9ecef; border: 1px solid #ced4da; border-radius: .25rem;    border-top-right-radius: 0; border-bottom-right-radius: 0;}
.signup.input-group.form-control{ position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; margin-bottom: 0;}

/**---main-category-game----**/
.main-category-game li a {background: rgba(0,0,0,0.8); border-radius: 10px 10px 0px 0px;}
.main-category-game.nav>li>a:focus, .main-category-game.nav>li>a:hover{background: rgba(0,0,0,0.8);}
.nav-tabs.main-category-game {border-bottom: none; padding: 10px 0px;}
.nav-tabs.main-category-game li {text-align: center; padding: 0px;}
.nav-tabs.main-category-game li a {color: #fff; font-family: 'latoregular'; }
.main-category-game.nav>li>a>img {margin-right: 10px;}


/**---sub-category----**/
.sub-category.nav-tabs>li>a:hover {text-decoration: none; background: none; border-color:none!important}
.sub-category.nav>li>a {padding: 12px 15px;}
.sub-category li{text-align:center; border:1px solid transparent; border-radius:100px; margin:20px 15px 10px 15px;
 text-transform: uppercase;}
.sub-category li a {color: #fff; text-transform: uppercase; font-family: 'latoregular';}
.sub-category.nav-tabs {border-bottom: 2px solid #fff !important;}
.nav>li>a:focus, .nav>li>a:hover{background: transparent;}
.sub-category li a.active {border: 2px solid #fff; border-radius: 30px;}

/**---game-item----**/
.game-section {margin-top: 15%;}
.game-item {width: 22.9%; display: inline-block; margin: 25px 11px;}
.game-item-common-class img {width: 100%; height: 100%;}
.game-item-common-class{border: 2px solid #fff; width:100%; height:170px; float: left; list-style-type: none; padding: 0; border: 0; position: relative; overflow: hidden; border-radius: 10px;}
.game-item:hover .sl-thumb-play { opacity: 1; -webkit-transition: all .5s!important; -moz-transition: all .5s!important; -o-transition: all .5s!important; transition: all .5s!important;}
.sl-thumb-play { opacity: 0; position: absolute; top: 52%; left:12%; z-index: 2; width: 60px; height: 70px; margin-left: -40px; margin-top: -40px; -webkit-transition: all .2s!important; -moz-transition: all .2s!important; -o-transition: all .2s!important; transition: all .2s!important;}
.sl-thumb-play-ico { width: 0;  height: 0; top: 19px; left: 24px; border-top: 12px solid transparent; border-bottom: 12px solid transparent; border-left: 19px solid #545454; position: absolute; z-index: 1000;}
.game-item:hover .sl-thumb-play-bg { transform: rotate(20deg);}
.sl-thumb-play .sl-thumb-play-bg {-webkit-transition: all .4s!important; -moz-transition: all .4s!important; -o-transition: all .4s!important; transition: all .4s!important; border-radius: 50%; padding: 1px; background: #fff;}
.lazyEffect {-webkit-animation: lazy 2s; -moz-animation: lazy 2s; -ms-animation: lazy 2s; -o-animation: lazy 2s; animation: lazy 2s;}
.game-item:hover {cursor: pointer;}

/*** Footer
-***************/
.footer {background: rgb(5, 5, 5); width: 100%; overflow: hidden; position: absolute; bottom: 0;}
.footer p {margin: 0px; padding: 5px 0px; color: #fff; text-align: center; font-size:13px; font-family: 'latoregular';  }




/*** registration-page
-***************/
.registration-page{background: #000;background-image: url(../images/about.jpg); background-repeat: no-repeat; background-attachment: fixed; }
.registration-bg { position: absolute; background: #000; width: 100%;    }
.registration-bg img {width: 100%; opacity: 0.2;}
.account-section .nav-tabs {border-bottom:none;}
.account-box {margin-top: 200px;}
.account-list {-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#222121));
    background-image: -webkit-linear-gradient(top, #45484d, #222121);
    background-image: -moz-linear-gradient(top, #45484d, #222121);
    background-image: -ms-linear-gradient(top, #45484d, #222121);
    background-image: -o-linear-gradient(top, #45484d, #222121);
    background-image: linear-gradient(to bottom, #45484d, #222121);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#222121); border-radius: 8px 8px 0px 0px; margin-right: 5px;}
.account-list a {color: #fff;}
.account-section .nav>li>a {padding: 30px 10px 10px 10px;}
.account-sub-list ul {background: #000;}
.account-sub-list ul li a {color: #fff;}
.account-sub-list .nav>li>a {padding:20px 10px;}
.section-tab {background: #fff; padding: 20px; z-index: 999; position: relative;margin-bottom: 50px;}
.profile-details {border: 1px solid #dadada; padding: 20px; box-sizing: border-box; text-transform: uppercase;     border-radius: 5px;}
.row {margin-left: 0; margin-right: 0;}
.profile-label {width:30%; float: left; margin: 5px 0px;font-family: 'latobold'; font-size: 12px;}
.profile-value {width:70%; float:right; margin:5px 0px; font-family: 'latoregular'; font-size: 12px; color: #e46;}
.profile-img {float:right;}
.alias-icon {margin-bottom: 15px; font-family: 'latobold'; font-size: 14px;}
.alias {margin-top: 15px;}
.preferences-heading {font-size: 15px;} 
.details-heading ,.notification h3, .preferences-profile h3 {font-family: 'latobold'; font-size: 14px; text-transform: uppercase; margin-top: 25px;}
.preferences-items h3 {font-family: 'latobold'; font-size: 16px; text-transform: uppercase; margin-top: 20px;}
.preferences-items p { font-family: 'latoregular'; font-size: 14px; }
.preferences-items {font-family: 'latoregular'; font-size: 14px; }
.Edit-profile .btn-danger {margin-top: 20px; text-transform: uppercase; font-family: 'latobold';}

/*** Change-password
-***************/
.change-password-section {width: 50%;}
.change-password-section label {font-family: 'latobold'; font-size: 15px;}
.change-password-section .btn-danger {text-transform: uppercase;}

/*** wager-limit
-***************/
.wager-limit p, .loss-limits p {font-family: 'latoregular'; font-size: 14px;}
.wager-limit samp, .loss-limits span {font-family: 'latobold'; margin-left: 5px;}
.wager-limit label, .loss-limits label {font-family: 'latobold';}
.wager-set-limit, .loss-set-limit  {width: 50%; margin: 20px 0px;}
.wager-set-limit .form-group, .loss-set-limit .form-group {margin: 20px 0px;}
.wager-set-limit .btn-danger, .loss-set-limit .btn-danger {margin-top: 20px; text-transform: uppercase; font-family: 'latobold';}

